/**distributionNetwork.wxss**/
.distribution-network {
  --padding: 40rpx;
  padding: var(--padding);
  .head-title {
    font-size: 48rpx;
    font-weight: bold;
    margin-bottom: 20rpx;
  }
  .head-title-tip {
    font-size: 32rpx;
    color: #999;
    margin-bottom: 40rpx;
  }
  .error {
    margin-top: 40rpx;
    color: red;
  }
  .footer-btn {
    position: fixed;
    bottom: 160rpx;
    width: calc(100% - var(--padding) * 2);
    button {
      width: 100%;
      border-radius: 20rpx;
      font-size: 32rpx;
    }
  }
}
