@import './index.dark.css';

.banner-brand__content > .tagline {
  color: #ffffff !important;
}

.magic-card::before {
  background: radial-gradient(200px circle at var(--x) var(--y), #000 0, #000 50%, transparent 100%) !important;
}